.overflow-x-hidden{
    overflow-x: hidden;
}

.purpleText {
    color: #673ab7;
}

.navbar__brand:hover{
    cursor: pointer;
}

.navbar__custom{
    position: relative;
}

.salir {
    position: absolute;
    right: 5%;
}

.salir:hover{
    cursor: pointer;
}